.app {
    text-align: center;

}

body {
    background-image: url(https://cdn2.hubspot.net/hubfs/5464945/social-suggested-images/Assignment_Plaatje@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.holdConference {
    width: 43%;
    margin: auto;
    margin-top: 10%;
    padding-left: 7%;
}

.callMainFon {
    padding-left: 2%;
    padding-right: 2%;
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 90;
}

.screenVideo {
    border: 1px solid #999;
    width: 100%;
}

.screen {
    margin-bottom: -2%;
    width: 50%;
}

.icons {
    text-align: left;
    margin-top: 7%;
}

i {
    padding-right: 3%;
}

h3 {
    color: #fff;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.zmdi {
    padding-left: 1%;
    float: initial;
}

.zmdi-fullscreen {
    position: relative;
    top: -775px;
    left: 96%;
}

.list-group-item {
    position: relative;
    top: -10px;
    left: 32%;
}

.gray {
    color: #999;
}

.writeNotes {
    border: 1px solid #bbb;
    background: #fff;
    margin: 10px 0;
    overflow: hidden;
    width: 100%;
    resize: none;
}
.writeNotes.hide {
    visibility: hidden;
}

.writeNotes .open {
    height: 100px;
}

.buttonForNotes {
    width: 100%;
}

.downloadNotes .hide {
    visibility: hidden;
}

#localVideo {
    margin-bottom: 0;
}

.vidContainer {
    margin-bottom: 10px;
    display: inline-block;
}

.sepia {
    filter: sepia(1);
}

.black {
    background: black;
}

